In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

:

In [ ]:
# Connect to SQLite DB
conn = sqlite3.connect("sales_data.db")
cursor = conn.cursor()

# Create the sales table if it doesn't exist
cursor.execute("""
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    product TEXT,
    quantity INTEGER,
    price REAL
)
""")
conn.commit()

In [ ]:
# Insert sample records (can skip this cell after the first run)
sample_data = [
    ('Apple', 10, 0.5),
    ('Banana', 5, 0.3),
    ('Apple', 7, 0.5),
    ('Orange', 8, 0.4),
    ('Banana', 12, 0.3),
    ('Orange', 4, 0.4)
]

cursor.executemany("INSERT INTO sales (product, quantity, price) VALUES (?, ?, ?)", sample_data)
conn.commit()

In [ ]:
query = """
SELECT product, 
       SUM(quantity) AS total_qty, 
       ROUND(SUM(quantity * price), 2) AS revenue
FROM sales
GROUP BY product
"""

df = pd.read_sql_query(query, conn)

In [ ]:
print("Sales Summary:")
print(df)

In [ ]:
plt.figure(figsize=(8, 5))
df.plot(kind='bar', x='product', y='revenue', legend=False, color='lightgreen')
plt.title("Revenue by Product")
plt.xlabel("Product")
plt.ylabel("Revenue ($)")
plt.tight_layout()
plt.grid(axis='y')
plt.savefig("sales_chart.png")
plt.show()

In [ ]:
conn.close()